.important {
  color: red;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.mildlyimportant {
  color: darkred;
  text-align: left;
  margin-left: 5%;
}

.column {
  width: 30%;
  float: left;
  margin: 2px;
}

.column img {
  box-sizing: border-box;
  display: block;
  padding: 10px;
  width: 99%;
  float: left;
}



img {
  border: 10px  green;
  margin: 10px;
  float: left;
  width:15%;
  height: auto;
  display: block;
  box-sizing: border-box;

}

.sidebar {
  width: 25%;
  float: right;
  padding: 10px;
  background-color: cornflowerblue;
  display:block;
  margin: 10px
}

h3 {
  color: black;
  font-style: italic;
  text-align: center;
}

h4 {
  text-align: center;
  font-style: italic;
  
}

p {
  font-family: sans-serif;
  font-size: medium

}

ol {
  padding: 10px;
  margin: 10px;
}

.eightyfive {
  margin-left: 15%;
  margin-right: 15%;

}

.background {
  border-radius: 10%;
  border-width: 5px;
  border-style: dashed;
  border-color:darkcyan;
  background-color: greenyellow;

}

.background2 {
  border-radius: 10%;
  border-width: 5px;
  border-style: dashed;
  border-color: darkgoldenrod;
  background-color: bisque;
}